#CONFIGURACION CONEXION BASE DE DATOS LOCAL POSTGRESQL
DB_PASSWORD=clavedebd
DB_NAME=nombre_base_datos
DB_HOST=servidor_base_datos
DB_PORT=5439
DB_USERNAME=postgres
DATABASE_URL="postgresql://postgres:clavedebd@servidor_base_datos:5439/nombre_base_datos?schema=esquemaNelsonRoas"

#CONFIGURACION JWT
JWT_SECRET="MI_secreto_2025"
PORT=3000
#APLICACION FRONTEND AUTORIZADA A CONSUMIR ESTE BACKEND, POR POLITICAS CORS
#FRONTEND_URL="http://localhost:5173"
FRONTEND_URL="*"
#CONFIGURACION DE CABECERAS DE SEGURIDAD OWASP, DATOS DEL SERVIDOR DONDE SE DESPLIEGA
DOMINIO_APP_WEB=localhost
STYLE_FONT_SRC=http://localhost